.center {
  margin: 50px 50px;
  height: 10%;
  width: auto;
  padding: 10px;
}
.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.full-width {
  width: 100%;
}
.button {
  margin-top: 10px;
}

.mat-card {
  margin-top: 10px;
}
