/* You can add global styles to this file, and also import other style files */
html {
  background-image: url("assets/bg.png");
}

@font-face {
  font-family: Effra-Heavy;
  src: local("Effra-Heavy"), url(./assets/fonts/effra-heavy.ttf) format("truetype");
}
